* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 透明窗口 */
html,
body {
  background-color: transparent;
}

#wrapper {
  height: 100vh;
  overflow: hidden; /* 隐藏超出的内容 */
  color: gold;

  /* transform: rotate(45deg); */
}

#main {
  margin: 0.5*;
  background-color: red;
  font-family: 'Courier New', Courier, monospace;
  background-color: transparent;
  /* transform: rotate(135deg); */
}
#main.horizontal {
  /* background-color: #fff; */
  white-space: nowrap; /* 强制不换行 */

}
#main.vertical {
  /* background-color: #fff; */
  writing-mode: vertical-rl; /* 竖直从右往左书写 */
  text-orientation: upright; /* 竖直方向 */
}