* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: black;
  background-color: red;
  overflow: hidden; /* 隐藏超出的内容 */
}

#main {
  display: block;
  margin: 0.5*;
  font-size: 38px;
  font-family: 'Courier New', Courier, monospace;
}

#main.horizontal {
  background-color: #fff;
  white-space: nowrap; /* 强制不换行 */

}

#main.vertical {
  background-color: #fff;
  writing-mode: vertical-rl; /* 竖直从右往左书写 */
  text-orientation: upright; /* 竖直方向 */
}