:root {
  --bgc: #e2e2e2;
}

body {
  padding-right: 5px;
}

.group {
  background-color: var(--bgc);
  border-radius: 1em;
  padding: 1em;
  margin: 0.5em;
  word-break: break-all;
}
.group table {
  margin-top: 5px;
  border-collapse: collapse;
  border: 0 solid white;
}
.group td {
  border: 5px solid var(--bgc);
  /* border: 5px solid white; */
}
.group .col-1 {
  width: 5rem;
  text-align: right;
}
.group .col-2 {
  width: 6rem;
}
.group .col-end {
  width: 100%;
}
.group .right {
  text-align: right;
}

.group input[type="text"],
.group input[type="number"],
.group input[type="hslider"],
.group fieldset {
  width: 100%;
}

.group input[type="color"] {
  margin: 5px;
}
.group select,
.group option {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}